@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ef2a43;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 2rem;
  text-align: center;
}

/* christmas tree styles */
.christmas-tree {
  position: relative;
}
.tree {
  font-size: 216px;
}

.christmas-tree .star {
  font-size: 2rem;
  position: absolute;
  top: 5%;
  left: 47%;
  animation: light-change 2s infinite;
}

.lightbulb {
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 45%;
  animation: light-change 1.2s infinite;
}

@keyframes light-change {
  0% {
    filter: brightness(80%);
  }
  50% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(80%);
  }
}
