@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ef2a43;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 2rem;
  text-align: center;
}

/* christmas tree styles */
.christmas-tree {
  position: relative;
}
.tree {
  font-size: 216px;
}

.christmas-tree .star {
  font-size: 2rem;
  position: absolute;
  top: 5%;
  left: 47%;
  animation: light-change 2s infinite;
}

.lightbulb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  animation-name: light-change;
  animation-iteration-count: infinite;
}

.lightbulb:nth-child(3) {
  animation-duration: 1.2s;
  background: radial-gradient(#ffffff, #ff0000);
  left: 45%;
  top: 30%;
}

.lightbulb:nth-child(4) {
  animation-duration: 1s;
  background: radial-gradient(#ffffff, #bbb103e9);
  left: 55%;
  top: 40%;
}

.lightbulb:nth-child(5) {
  animation-duration: 1s;
  background: radial-gradient(#ffffff, #ff0000);
  left: 40%;
  top: 62%;
}

@keyframes light-change {
  0% {
    filter: brightness(80%);
  }
  50% {
    filter: brightness(110%);
  }
  100% {
    filter: brightness(80%);
  }
}
